@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

p, h1, a, h2, h3{
    font-family: "Inter", sans-serif;
    color: white;
}

html {
    min-width: 100%;
    min-height: 100%;
}

body{
    background-color: #14151A;
}

/* 
Header/Navigation bar
*/
nav{
    display: flex;
    border: 1px solid white;
    position: fixed;
    gap: 1.4rem;
    padding: .9rem 1.4rem;
    border-radius: 20rem;
    top: 90%;
    left: 50%;
    transform: translate(-50%, 0);
}
nav a{
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    padding: 20px 120px;
    position: relative;
}

/*
Hero section
*/
#background-image-holder{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 52rem;
    background-image: url("assets/images/preview_2.png");
    /* background-position: center center; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -7rem;
    transition: background-image linear .5s;
}
#background-image-holder::before{
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    z-index: 1;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, rgba(20, 21, 26, 0) 0, rgb(20, 21, 26) 95%);
}
.hero-section-container{
    /* background-color: rgb(66, 37, 37); */
    min-height: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.elements-container{
    z-index: 2;
}
.elements-container > h1{
    font-size: 3rem;
}
.hero-name-bold{
    font-weight: 950;
}
.hero-purple-text{
    color: #8173E6;
}
.elements-container > p{
    font-size: 2rem;
    margin-top: 10px;
    margin-bottom: 40px;
}
.hero-links-container{
    display: flex;
    gap: 1rem;
}
.hero-contact-button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 12rem;

    background-color: #8173E6;
    border-radius: 6px;
    padding: .7rem;
}
.hero-contact-button > p{
    font-size: 1.4rem;
}

/*
About me section
*/
.about-me-section-container{
    margin-top: 3rem;
}
.about-me-header-container{
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
}
.paragraphs-container{
    display: flex;
    flex-direction: column;
    gap: 6rem;
}
.about-me-header-container>h2{
    font-size: 2.5rem;
}
.about-me-section-container p{
    font-size: 2rem;
}
.first-p-container{
    max-width: 60rem;
}
.second-p-container{
    max-width: 60rem;
    margin-left: auto;
}
.second-p-container p{
    text-align: right;
}
.third-p-container{
    max-width: 60rem;
}
.purple-text{
    color: #8173E6;
}
.carousel-container{
    margin-top: 5rem;
    padding: 2rem;
    border: 2px solid green;
}
.carousel-header-container{
    display: inline-block;
    padding: 1rem 3rem;
    border-radius: 10rem;
    margin-bottom: 2.5rem;
}
#carousel-header{
    font-size: 1.4rem;
}
.carousel{
    border: 2px solid red;
    display: flex;
    overflow-x: auto;
    position: relative;
}
.carousel::before{
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to left, rgba(20, 21, 26, 0), rgb(20, 21, 26));
    width: 10rem;
    height: 100%;
    content: "";
    z-index: 2;
}
.carousel::after{
    position: absolute;
    top: 0;
    right: 0;
    background: linear-gradient(to right, rgba(20, 21, 26, 0), rgb(20, 21, 26));
    width: 10rem;
    height: 100%;
    content: "";
    z-index: 2;
}
.carousel::-webkit-scrollbar{
    display: none;
}
.group{
    display: flex;
    gap: 8rem;
    animation: spin 10s infinite linear;
    padding-right: 8rem;
}
@keyframes spin{
    from {translate: 0;}
    to {translate: -100%;}
}
.group > svg{
    flex-grow: 0;
    flex-shrink: 0;
}
